@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Sora', sans-serif;

  --gradient-text: linear-gradient(89.97deg, rgb(65, 94, 242) 1.84%, #92caf8 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #6767fa -13.86%, #67d1f4 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: rgb(80, 173, 239);
}