

.billify__feature-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: center;
}



/* Bubble Styles and Animations */

.gradient-bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(65, 94, 242);
    border-radius: 50%;
    animation: float 5s linear infinite, scale 5s ease-in-out infinite;
    opacity: 0.3; /* Adjust transparency */
  }
  
  /* Individual bubble positioning */
  .bubble-0 { top: 10%; left: 15%; }
  .bubble-1 { top: 20%; left: 70%; }
  .bubble-2 { top: 30%; left: 20%; }
  .bubble-3 { top: 85%; left: 20%; }
  .bubble-4 { top: 30%; left: 80%; }
  .bubble-5 { top: 70%; left: 30%; }
  .bubble-6 { top: 90%; left: 90%; }
  .bubble-7 { top: 90%; left: 20%; }
  .bubble-8 { top: 90%; left: 60%; }
  .bubble-9 { top: 10%; left: 85%; }
  
  
  /* Keyframes for animations */
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes move-around {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-30px, -30px); }
    50% { transform: translate(30px, 30px); }
    75% { transform: translate(-3px, 30px); }
    100% { transform: translate(30px, -30px); }
  }
  /* end of bubbles */


  /* form stuff */
  .soap-notes-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .soap-notes-form {
    background: transparent;
    color: white;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .form-group p {
    margin-bottom: 10px;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #DDD;
    color: darkblue;
  }
  
  .submit-button {
    background-image: linear-gradient(lightblue, darkblue);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-image: linear-gradient(darkblue, lightblue);
  }
  
