/* SOAP Form Container Styles */
.soap-notes-form-container {
    display: flex;
    flex-direction: column;
    color: white; /* Set text color to white */
    font-family: var(--font-family);
    font-size: 23px;
    font-weight: 300; 
  }

/* Textarea Styles */
.soap-input {
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #DDD;
  color: darkblue;
  font-size: 20px; /* Set font size to 20px */
  border-radius: 20px;
  padding: 10px; /* Add padding to textarea */
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height for textarea */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: pre-wrap; /* Wrap text and break lines */
  word-wrap: break-word; /* Break words when necessary */
  width: 100%; /* Ensure the textarea takes up the full width */
}
  
  
  /* Submit Button Styles */
  .submit-button {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    background: var(--gradient-text);
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
  }
  
  /* Hover Effect for Submit Button */
  .submit-button:hover {
    background-image: linear-gradient(darkblue, lightblue);
  }
  