.billify__header {
    display: flex;
    flex-direction: row;
}

.billify__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.billify__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.billify__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.billify__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.billify__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.billify__header-content__input button {
    flex: 0.3;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    background: var(--gradient-text);
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 14px;

    border-radius: 10px;
}

.billify__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.billify__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.billify__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.billify__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billify__header-image img {
    width: 100%;
    height: 100%;
}

/* Bubble Styles and Animations */

.gradient-bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(65, 94, 242);
    border-radius: 50%;
    animation: float 5s linear infinite, scale 5s ease-in-out infinite;
    opacity: 0.3; /* Adjust transparency */
  }
  
  /* Individual bubble positioning */
  .bubble-0 { top: 10%; left: 15%; }
  .bubble-1 { top: 20%; left: 70%; }
  .bubble-2 { top: 30%; left: 40%; }
  .bubble-3 { top: 85%; left: 20%; }
  .bubble-4 { top: 30%; left: 80%; }
  .bubble-5 { top: 70%; left: 30%; }
  .bubble-6 { top: 90%; left: 90%; }
  .bubble-7 { top: 90%; left: 20%; }
  .bubble-8 { top: 90%; left: 60%; }
  .bubble-9 { top: 10%; left: 85%; }
  
  
  /* Keyframes for animations */
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes move-around {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-30px, -30px); }
    50% { transform: translate(30px, 30px); }
    75% { transform: translate(-3px, 30px); }
    100% { transform: translate(30px, -30px); }
  }
  /* end of bubbles */
@media screen and (max-width: 1050px) {
    .billify__header {
        flex-direction: column;
    }

    .billify__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .billify__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .billify__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .billify__header-content__people {
        flex-direction: column;
    }

    .billify__header-content__people p {
        margin: 0;
    }

    .billify__header-content__input input,
    .billify__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .billify__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .billify__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .billify__header-content__input input,
    .billify__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}